body {
  margin: 1em;
  padding: 0;
  font-family: century-gothic, sans-serif;
  background-color: #fad0c2;
}

html { 
  font-family: century-gothic, sans-serif;
  font-style: normal;
}

#card {
  background-color: #fad0c2;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border-radius: 6px;
  box-shadow: 0 0px 00px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.attribution h1 {
  margin: 0 0 0.25em;
}

.attribution img {
  opacity: 0.5;
  height: 2em;
}

.attribution .cc {
  flex-shrink: 0;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-style: normal;
  line-height: 1.5em;
}

.btn-bot {
    border: none;
    border-radius: 4px;
    background-color: #fad0c2;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -80px;
    width: 160px;
}

model-viewer {
    width: 100%;
    height: 400px;
    background-color: #fad0c2;
    overflow-x: hidden;
  }
  
  model-viewer#reveal {
    --poster-color:  #fad0c2;
  }

  #ar-image img {
    display: block;
    height: 50px;  
    width: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
